<!-- This Jinja2 template retrieves the layout from layout.html -->
{% extends 'layout.html' %}

<!-- This fills in the 'block body' section of layout.html -->
{% block body %}

    <h1>Most recent quotations:</h1>
    <ul>
    {% if allQuotes: %}
        {% for quote in allQuotes: %}
        <li class="list-group-item">
            "{{quote.quote}}"<br>
            <strong> - {{quote.source}}</strong>
        </li>
        {% endfor %}
    {% endif %}
    </ul>
{% endblock %}