<!-- This Jinja2 template retrieves the layout from layout.html -->
{% extends 'layout.html' %}

<!-- This fills in the  'block body'  section of layout.html -->
{% block body %}
    <h1>Add a Quote</h1>
    <!-- This pulls in the validation template and allows Flask-WTF fields to be rendered. -->
    {% from "includes/_formhelpers.html" import render_field %}
    
    <!-- This form with use the POST method and submit to itself. -->
    <form method="POST" action="">
        <!-- These present the different fields to the user. -->
        <div class="form-group">
            {{render_field(form.quote,class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.source,class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.tags,class_="form-control")}}
        </div>
        <!-- We'll show a bit Submit button at the bottom. -->
        <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    </form>
    
    {% if allTags:  %}

    <!-- code sourced from: https://codepen.io/faizanasad/pen/iDwdG -->
	<div class="tag-cloud">
		<ul>
            {% for tag in allTags: %}
                <li class="tagItem" id="{{tag}}"><a><span></span>{{tag}}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% endif %}


{% endblock %}