<!-- This Jinja2 template retrieves the layout from layout.html -->
{% extends 'layout.html' %}

<!-- This fills in the 'block body' section of layout.html -->
{% block body %}

    {% if quoteBundle: %}

        <h1>Search results for <strong><i>{{searchString}}</i></strong>:</h1>
        <ul>
            {% for quote in quoteBundle: %}
            <li class="list-group-item">
            {% autoescape false %}
                "{{ quote.quote | replace(searchString, "<strong>"+searchString+"</strong>") }}"
                <br>
                <strong> - {{quote.source}}</strong>
            {% endautoescape %}
            </li>
            {% endfor %}
        </ul>
    {% else: %}
        <h1>There were no search results for <strong><i>{{searchString}}</i></strong>.</h1>
    {% endif %}
    
{% endblock %}